body {
    background-color: #b0cac7;
}

hr {
    background-color: #b0cac7;
    width: 4%;
    height: 5px;
    border-color: grey;
    border-width: 6px;
    border-style: none;
    border-top-style: dotted;
}

h1 {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    display: inline;
    border-top-style: hidden;
    background: #3190B5;
    background: linear-gradient(bottom, #3190B5, #B1CBC8);
    background: linear-gradient(bottom, #3190B5, #B1CBC8);
    background: linear-gradient(to top, #3190B5, #B1CBC8);

}
img {
    border-style: solid;
    border-radius: 160px; 
    border-color: rgba(0, 0, 0, 0.1);
}


h3,
th {
    color: #005086;
}

/*----Id Selecters----*/

#name {
    font-family: Courgette;
}

#main {
    margin: auto;
    width: 50%
}

#education {
    margin: auto;
    width: 75%;
    padding: 100px;
}

#work {
    margin-left: auto;
    width: 25%;
    padding: 100px;
    display: block;
}

#skills {

    margin: auto;
    width: 75%;
    padding: 100px;
}
