body {
    background-color: #b0cac7;
}

hr {
    background-color: #b0cac7;
    width: 4%;
    border-color: grey;
    border-width: 6px;
    border-style: none;
    border-top-style: dotted;
}
