blockquote {
    border-left: none;
}
body {
    background-color: #D9E1E3;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

footer {
    text-align: center;
}

h2 {
    padding: 100px;
    font-family: "Cinzel", serif;
    color: #fff2d9;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 2.5rem;
}

hr {
    display: inline;
    margin: auto;
    border-style: dotted;
    border-width: 30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color:  #D9E1E3;
}

img {
    width: 100%;
    margin-top: 0;
}

.about-me {
    border-style: solid;
    border-color: #c4d1d4;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    box-shadow: 3px;
}

.name {
    position: absolute;
    bottom: 510px;
    left: 1100px;
    font-size: 3.75rem;
    font-family: "Cinzel", serif;
    color: #fff2d9;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.subtitle {
    position: absolute;
    font-size: 1.1875rem;
    bottom: 530px;
    left: 1245px;
    color: rgba(0, 0, 0, 0.6);
}
